.#{$prefix}-p-menu {
  position: relative;
  height: 100%;

  .el-form {
    overflow: hidden;
  }

  .hf-ui-row {
    margin: 0 !important;
    padding: 15px 0 0 0;
    background-color: $clr-bg-page-color;
    border: 1px solid rgba($clr-border-color, 0.5);

    .hf-ui-col {
      .el-form-item__content {
        width: calc(100% - 80px);
      }

      .el-form-item__label{
        line-height: 36px;
      }

      .el-input--small {
        input {
          height: 36px;
          line-height: 36px;
        }
      }
    }
  }

  .list-context {
    margin-top: 10px;
  }
}


