<div :class="[$store.state.appPrefix + '-p-menu']">
  <div v-loading="isPageLoading">
    <el-form label-suffix=":" :inline="true" ref="filterForm" :model="filterForm" size="small">
      <hf-ui-row :gutter="24">
        <hf-ui-col :span="5">
          <el-form-item label="菜单名" label-width="60px">
            <el-input v-model="filterForm.menuName" clearable placeholder="请输入菜单名"></el-input>
          </el-form-item>
        </hf-ui-col>
        <hf-ui-col :span="5">
          <el-form-item label="菜单类型">
            <el-select v-model="filterForm.menuType" clearable placeholder="请选择菜单类型">
              <el-option v-for="(value, key, index) in menuTypeMap" :key="index" :value="key" :label="value">
              </el-option>
            </el-select>
          </el-form-item>
        </hf-ui-col>
        <hf-ui-col :span="5">
          <el-form-item label="菜单归属">
            <el-select v-model="filterForm.belongType" clearable placeholder="请选择菜单归属类型">
              <el-option v-for="(value, key, index) in menuBelongTypeMap" :key="index" :value="key" :label="value">
              </el-option>
            </el-select>
          </el-form-item>
        </hf-ui-col>
        <hf-ui-col :span="5">
          <el-form-item label="是否显示">
            <el-select v-model="filterForm.isShow" clearable placeholder="请选择菜单是否显示">
              <el-option v-for="(value, key, index) in menuIsShowMap" :key="index" :value="key" :label="value">
              </el-option>
            </el-select>
          </el-form-item>
        </hf-ui-col>
        <hf-ui-col :span="4">
          <hf-ui-button type="primary" @click.prevent="search">查询</hf-ui-button>
          <hf-ui-button @click.prevent="resetForm">重置</hf-ui-button>
        </hf-ui-col>
      </hf-ui-row>
    </el-form>
  </div>

  <div v-loading="isListLoading" class="list-context">
    <el-table
      :data="list"
      style="width: 100%">
      <el-table-column
        prop="menuName"
        label="菜单名称"
        width="180">
      </el-table-column>
      <el-table-column
        prop="menuUrl"
        label="菜单路径"
        width="180">
      </el-table-column>
      <el-table-column
        prop="sortNo"
        label="序号">
      </el-table-column>
      <el-table-column
        prop="menuIcon"
        label="菜单图标">
      </el-table-column>
      <el-table-column
        prop="status"
        label="菜单状态">
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="180">
        <template slot-scope="scope">
          <hf-ui-button @click="handleClick(scope.row)" type="text" size="small">删除</hf-ui-button>
          <hf-ui-button type="text" size="small">编辑</hf-ui-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</div>
</div>
