* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
img {
  border: 0;
}

body {
  font-size: $font-14;
  font-family: $font-family;
}


a {
  text-decoration: none;
  color: $clr-warning-color;
  &:hover,
  &:focus {
    outline: none;
  }
}

h1, p {
  margin: 0;
}
input, button, select, textarea {
    outline: none;
    -webkit-appearance: none;
    font-family: $font-family;
    border-radius: 0;
}
