@import './variables-colors';

/*global*/
$prefix: data-sysnc;

/*animate*/
$transition-time: .3s;
$transition-collapse-time: .5s;

/* 内容区大小 */
$min-width: 60rem;
$max-width: 60rem;

/* 屏幕大小设置 */
$header-height: 60px;
$leftbar-width: 200px;
$leftbar-width-min: 60px;
$tabs-height: 40px;
$footer-height: 40px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/*font*/
$font-family: "PingFang SC",
"lucida grande",
"lucida sans unicode",
lucida,
helvetica,
"Hiragino Sans GB",
"WenQuanYi Micro Hei",
sans-serif;

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-32: 32px;

$font-20-lineheight: 30px;
$font-18-lineheight: 28px;
$font-16-lineheight: 24px;
$font-14-lineheight: 22px;
$font-12-lineheight: 20px;

$font-weight-regular: 400;
$font-weight-medium: 600;

/*gap*/
$page-gap: 10px;
$gap: 24px;
$gap-secondary: 20px;
$gap-third: 16px;
$gap-fourth: 12px;
$gap-fifth: 4px;

/* 阴影、边框色、圆角大小、padding大小等 */
$default-border-color: #e7eaec;

:export {
  appPrefix: $prefix;
}
